<nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">🎬 MovieTracker</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a th:class="'nav-link'+${activePage == 'list' ? ' active' : ''}" th:href="@{/}"
                       aria-current="page">Movies</a>
                </li>
                <li class="nav-item">
                    <a th:class="'nav-link'+${activePage == 'watchlist' ? ' active' : ''}" th:href="@{/watchlist}">Watchlist</a>
                </li>
                <li class="nav-item">
                    <a th:class="'nav-link'+${activePage == 'add' ? ' active' : ''}" th:href="@{/add}">Add Movie</a>
                </li>
                <li class="nav-item">
                    <a th:class="'nav-link'+${activePage == 'statistic' ? ' active' : ''}" th:href="@{/statistic}">Statistic</a>
                </li>
            </ul>
            <form class="d-flex" role="search" th:action="@{/}" method="get">
                <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search"
                       name="searchName" th:value="${searchName}"/>
                <button class="btn btn-outline-success" type="submit">Search</button>
            </form>
        </div>
    </div>
</nav>