<nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">🎬 MovieTracker</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav nav-underline me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a th:class="'nav-link'+${activePage == 'list' ? ' active' : ''}" th:href="@{/movies}"
                       aria-current="page">Movies</a>
                </li>
                <li class="nav-item">
                    <a th:class="'nav-link'+${activePage == 'watchlist' ? ' active' : ''}" th:href="@{/watchlist}">Watchlist</a>
                </li>
                <li class="nav-item">
                    <a th:class="'nav-link'+${activePage == 'add' ? ' active' : ''}" th:href="@{/add}">Add Movie</a>
                </li>
                <li class="nav-item">
                    <a th:class="'nav-link'+${activePage == 'statistic' ? ' active' : ''}" th:href="@{/statistic}">Statistic</a>
                </li>
            </ul>
            <form class="d-flex" role="search" th:action="@{/movies}" method="get">
                <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search"
                       name="searchName" th:value="${searchName}"/>
                <button class="btn btn-outline-success" type="submit">Search</button>
            </form>
            <div class="avatar" th:if="${#authentication.authenticated and #authentication.name != 'anonymousUser'}">
                <ul class="navbar-nav">
                    <li class="nav-item dropdown">
                        <a href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            <img style="margin-left:10px;width:32px;" class="avatar-img rounded-circle dropdown-toggle" th:src="${#authentication.principal.getAttribute('avatar_url')}" alt="Avatar"/>
                         </a>
                        <ul class="dropdown-menu dropdown-menu-end">
                            <li><a class="dropdown-item" href="/user">User info</a></li>
                            <li><hr class="dropdown-divider"></li>
                            <li>
                                <form th:action="@{/logout}" method="post">
                                    <a class="dropdown-item" onclick="this.closest('form').submit();return false;">Logout</a>
                                </form>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</nav>
<br>