<th:block th:fragment="movie-table (movies, showDateWatched, returnUrl)">
    <table class="table">
        <tr>
            <th>
                Name
                <a th:href="@{${returnUrl}(searchName=${searchName},page=${page},size=${size},sortBy='name',sortOrder='asc')}">
                    <i class="bi bi-sort-alpha-down"></i>
                </a>
            </th>
            <th>Steaming</th>
            <th th:if="${showDateWatched}">
                Date watched
                <a th:href="@{${returnUrl}(searchName=${searchName},page=${page},size=${size},sortBy='dateWatched',sortOrder='desc')}">
                    <i class="bi bi-sort-alpha-down-alt"></i>
                </a>
            </th>
            <th>Actions</th>
        </tr>
        <tr th:each="movie : ${movies}">
            <td><a th:href="${movie.streamingUrl}" th:text="${movie.name}" target="_blank"></a></td>
            <td th:text="${movie.streamingService}"></td>
            <td th:if="${showDateWatched}" th:text="${#dates.format(movie.dateWatched, 'yyyy-MM-dd')}"></td>
            <td>
                <a th:href="@{'/edit/' + ${movie.id} + '?returnUrl=' + ${returnUrl}}" class="btn btn-dark bi bi-pencil"></a>
                <a th:href="@{'/delete/' + ${movie.id} + '?returnUrl=' + ${returnUrl}}" class="btn btn-dark bi bi-trash"></a>
            </td>
        </tr>
    </table>
</th:block>