<div class="mb-3">
    <label for="nameInput" class="form-label">Name:</label>
    <input class="form-control" type="text" id="nameInput" th:field="*{name}" required/>
</div>
<div class="mb-3">
    <label for="streamingUrlInput" class="form-label">Streaming URL:</label>
    <input class="form-control" type="text" id="streamingUrlInput" th:field="*{streamingUrl}"/>
</div>
<div class="mb-3">
    <label for="dateWatchedInput" class="form-label">Date watched:</label>
    <input class="form-control" type="date" id="dateWatchedInput" clearBtn="true" th:field="*{dateWatched}"/>
</div>