<th:block th:fragment="movie-table (movies, showDateWatched, returnUrl, site)">
    <table class="table">
        <tr>
            <th>
                Name
                <a th:href="@{${site}(searchName=${searchName},page=${page},sortBy='name',sortOrder=${sortOrder == 'asc' ? 'desc' : 'asc'})}">
                    <i th:class="${sortOrder == 'asc' ? 'bi bi-sort-alpha-down': 'bi bi-sort-alpha-up-alt'}"></i>
                </a>
            </th>
            <th style="width:150px;">
                Streaming
                <a th:href="@{${site}(searchName=${searchName},page=${page},sortBy='streamingService',sortOrder=${sortOrder == 'asc' ? 'desc' : 'asc'})}">
                    <i th:class="${sortOrder == 'asc' ? 'bi bi-sort-alpha-down': 'bi bi-sort-alpha-up-alt'}"></i>
                </a>
            </th>
            <th style="width:150px;" th:if="${showDateWatched}">
                Date watched
                <a th:href="@{${site}(searchName=${searchName},page=${page},sortBy='dateWatched',sortOrder=${sortOrder == 'asc' ? 'desc' : 'asc'})}">
                    <i th:class="${sortOrder == 'asc' ? 'bi bi-sort-alpha-down': 'bi bi-sort-alpha-up-alt'}"></i>
                </a>
            </th>
            <th style="width:120px;">Actions</th>
        </tr>
        <tr th:each="movie : ${movies}">
            <td><a th:href="${movie.streamingUrl}" th:text="${movie.name}" target="_blank"></a></td>
            <td th:text="${movie.streamingService}"></td>
            <td th:if="${showDateWatched}" th:text="${#temporals.format(movie.dateWatched, 'yyyy-MM-dd')}"></td>
            <td>
                <a th:href="@{/edit/{id}(id=${movie.id}, returnUrl=${returnUrl})}" class="btn btn-dark bi bi-pencil"></a>
                <a th:href="@{/delete/{id}(id=${movie.id}, returnUrl=${returnUrl})}" class="btn btn-dark bi bi-trash"></a>
            </td>
        </tr>
    </table>
</th:block>