<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en" data-bs-theme="dark">
<head>
    <meta charset="UTF-8">
    <title>MovieTracker</title>
    <link th:href="@{/webjars/bootstrap/5.3.8/css/bootstrap.min.css}" rel="stylesheet" />
</head>
<body>
    <div th:replace="~{fragments/header}"></div>

    <div class="container">
        <h1>Add New Movie</h1>
        <form th:action="@{/add}" th:object="${movie}" method="post">
            <label for="nameInput" class="form-label">Name:</label>
            <input class="form-control" type="text" id="nameInput" th:field="*{name}"/>
            <label for="dateWatchedInput" class="form-label">Date watched:</label>
            <input class="form-control" type="date" id="dateWatchedInput" th:field="*{dateWatched}"/>
            <br/>
            <br/>
            <a th:href="@{/}" class="btn btn-primary">Back to List</a>
            <button type="submit" class="btn btn-success">Save</button>
        </form>
    </div>
</body>
</html>