<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en" data-bs-theme="dark">
<head>
    <meta charset="UTF-8">
    <title>🎬 MovieTracker</title>
    <link th:href="@{/webjars/bootstrap/5.3.8/css/bootstrap.min.css}" rel="stylesheet"/>
    <link th:href="@{/webjars/bootstrap-icons/1.13.1/font/bootstrap-icons.css}" rel="stylesheet">
</head>
<body>
<div th:replace="~{fragments/header}"></div>

<div class="container">
    <h2>Movie List <span class="badge text-bg-secondary opacity-50" th:text="${totalMovies}"></span></h2>
    <div th:replace="~{fragments/movie-table :: movie-table(${movies}, true, '/movies')}"></div>

    <div class="d-flex justify-content-center">
        <div class="btn-group" role="group" aria-label="Page navigation">
            <a th:each="p : ${#numbers.sequence(1,totalPages)}"
               th:href="@{/movies(page=${p},size=${size},sortBy=${sortBy},sortOrder=${sortOrder})}"
               th:text="${p}" th:class="${p == page} ? 'btn btn-primary' : 'btn btn-outline-primary'"
               th:classappend="${p == page} ? ' disabled' : ''">
            </a>
        </div>
    </div>
</div>
</body>
</html>