<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en" data-bs-theme="dark">
<head>
  <meta charset="UTF-8">
  <title>🎬 MovieTracker</title>
  <link th:href="@{/webjars/bootstrap/css/bootstrap.min.css}" rel="stylesheet"/>
  <script th:src="@{/webjars/bootstrap/js/bootstrap.bundle.min.js}"></script>
</head>
<body>
<div th:replace="~{fragments/header}"></div>

<div class="container">
  <h2>Statistic</h2>
  <table class="table">
    <tr>
      <th>Year-Month</th>
      <th>Amazon</th>
      <th>Netflix</th>
      <th>Youtube</th>
      <th>Total</th>
    </tr>
    <tr th:each="monthStats : ${moviesPerMonth}">
      <td th:text="${monthStats.yearMonth}"></td>
      <td class="text-end" th:text="${monthStats.countAmazon}"></td>
      <td class="text-end" th:text="${monthStats.countNetflix}"></td>
      <td class="text-end" th:text="${monthStats.countYoutube}"></td>
      <td class="text-end" th:text="${monthStats.countTotal}"></td>
    </tr>
  </table>
</div>
</body>
</html>